<div class="row">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading" style="text-align: center;">登录</h2>
        <div class="alert alert-error" id="tips" <?php if($errormsg):?> style="display:block;" <?php endif;?>>
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong><?php echo $errormsg;?></strong>
        </div>
        <input type="text" class="input-block-level" placeholder="请输入注册邮箱地址" name="username" id="username">
        <input type="password" class="input-block-level" placeholder="请输入密码" name="userpwd" id="userpwd">
        <span>
            <a class="btn btn-link" href="/forgot">忘记密码?</a>
            <a class="btn btn-link" href="/reg">注册账号?</a>
            <span style="float: right;">
                <button class="btn btn-info" type="submit">登录</button>
            </span>
        </span>
    </form>
</div>
<div id="clustrmaps-widget"></div><script type="text/javascript">var _clustrmaps = {'url' : 'http://yyabc.org', 'user' : 1127289, 'server' : '2', 'id' : 'clustrmaps-widget', 'version' : 1, 'date' : '2014-01-05', 'lang' : 'zh', 'corners' : 'square' };(function (){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'http://www2.clustrmaps.com/counter/map.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);})();</script><noscript><a href="http://www2.clustrmaps.com/user/70f113379"><img src="http://www2.clustrmaps.com/stats/maps-no_clusters/yyabc.org-thumb.jpg" alt="Locations of visitors to this page" /></a></noscript>
